# VS Code
.vscode/

# Misc
.DS_Store

# Build
dist/
paramview/static/

# Python
__pycache__/
.pytest_cache/
.mypy_cache/
.coverage

# Typescript
*.tsbuildinfo

# Yarn
node_modules/
.yarn/

# SWC
.swc/

# Jest
coverage/

# Cypress
**/cypress/videos/
**/cypress/screenshots/

# Data files
*.db
*.db-journal
