# VS Code
.vscode/

# Misc
.DS_Store

# Build
dist/
paramview/static/

# Python
__pycache__/
.pytest_cache/
.mypy_cache/
.coverage

# Yarn
node_modules/
.yarn/

# SWC
.swc/

# Jest
coverage/

# Playwright
test-results/

# Data files
*.db
*.db-journal
